.result {
	margin-bottom:10px;
	padding-bottom:10px;
}
/*.row {
		margin-left:0;
}*/
/*.boxshadow {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);		
}*/
/*.browser-bar {
    display: block;
    height: 4px;
    background-color: #E6E6E6;
    padding: 4px 7px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;     
    border-radius: 2px 2px 0 0;  
}*/