body {
	font-family: "微软雅黑";
}
.navbar {
	font-size: medium ;
}
.navbar-brand {
	font-size: x-large;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
div img {
	width: 100%;
	height: auto;
}

.carousel-caption {
	padding-left: 0px;
	/*background-image: url(../img/bg.png);*/
	background-color: rgba(0,0,0,0.6);
}
.carousel-caption h1, .carousel-caption p{
	opacity: 1;
}
.footer-bottom {
	background-color: #000;
	font-size: x-large;
}
.footer-content {
	background-color: rgba(0,0,0,0.6);
}
