body {
	font-family: "微软雅黑";
	position: relative;
}
.navbar {
	font-size: large ;
}
.dropdown-menu {
	font-size: large;
}
.navbar-brand {
	font-size: x-large;
}
.dropdown:hover .dropdown-menu{
    display: block;
 }
.bs-docs-sidenav:hover .nav {
	display: block;
}
 .nav:hover {
 	
 }
div img {
	width: 100%;
	height: auto;
}

.carousel-caption {
	padding-left: 0px;
	/*background-image: url(../img/bg.png);*/
	background-color: rgba(0,0,0,0.6);
}
.carousel-caption h1, .carousel-caption p{
	opacity: 1;
}
.footer-bottom {
	background-color: #111;
	font-size: x-large;
}


